<h1>CPU Information</h1>
<p>Version:
  <%= version %></p>
<p>Load Average:
  <%= avg %></p>
<h2>CPU Stats</h2>
<pre><%= stats.inspect %></pre>
<h2>Recent CPU Loads</h2>
<ul>
  <% cpu_loads.each do |load| %>
    <li><%= load.load_average %>
      (<%= load.created_at %>)</li>
  <% end %>
</ul>
