<h1>System Information</h1>

<h2>CPU Usage</h2>
<%= area_chart "/data/cpu",
ytitle: "CPU Usage (%)",
min: 0,
max: 100,
library: {
  title: {
    text: "CPU Usage",
  },
},
refresh: 5 %>

<h2>Bandwidth Usage</h2>
<%= line_chart "/data/bandwidth",
ytitle: "Bandwidth (Mbps)",
library: {
  title: {
    text: "Bandwidth Usage",
  },
},
refresh: 5 %>

<h2>Memory Usage</h2>
<%= line_chart "/data/memory",
ytitle: "Memory Usage (%)",
min: 0,
max: 100,
library: {
  title: {
    text: "Memory Usage",
  },
},
refresh: 5 %>

<h2>Filesystem Usage</h2>
<%= line_chart "/data/filesystem",
ytitle: "Used Space (%)",
min: 0,
max: 100,
library: {
  title: {
    text: "Filesystem Usage",
  },
},
refresh: 5 %>

<h2>Disk I/O</h2>
<%= area_chart "/data/disk_io",
ytitle: "MB/s",
library: {
  title: {
    text: "Disk I/O",
  },
},
refresh: 5 %>
